*/build
xci/venv
*/venv
*/.git
geckodriver.log
dump.rdb
*.pyc
.idea/
settings.py
logs/*
logs/log.log
logs/*.pid
logs/*.gz
logs/nginx_log/*
bin/data.json
bin/test.py
venv/
access.log*
*.xls
./report*
./report/*.*
.DS_Store
*.out
~
__foo__.*
*.swp


node_modules
**/node_modules
package-lock.json
**/package-lock.json

*.idea/
*.iml
**/*.idea/
**/*.iml
.classpath
.settings
.project
target
**/target
*/**/target
logs


backend/web/src/main/java/tmp


# compiled output
**/dist
**/tmp
/tmp
/out-tsc

# dependencies

# IDEs and editors
**/.idea
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
*//*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

